.env
react-app/.env.local
react-app/node_modules/
react-app/dist/
react-app/package-lock.json
aspnet-api/images
aspnet-api/PortfolioBack/bin/
aspnet-api/PortfolioBack/obj/
aspnet-api/PortfolioBack/*.dll
.vscode/
aspnet-api/PortfolioBack/appsettings.Development.json
aspnet-api/Portfolio
aspnet-api/PortfolioBack/appsettings.json

react-app/.pnpm-store/
react-app/*.tsbuildinfo
react-app/.next/
